@model IEnumerable<kredit.Models.Permohonan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
    int i = 0;
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
}
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Title</a></li>
            <li class="breadcrumb-item active">Data Permohonan</li>
        </ol>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <a href="@Url.Action("SurveyList", "ApprovalPermohonans")" class="btn btn-success" id="tambah" disabled>Daftar Survey</a>
                @*@Html.ActionLink("Create New", "Create", "Permohonans", null, new { @class = "btn btn-success" })*@
                <div class="table-responsive m-t-40" style="margin-top:5px;">
                    <table id="table" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kode</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Kode</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@Html.DisplayFor(modelItem => item.Kode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                    <td>
                                        @if (item.status == kredit.Models.status.Waiting)
                                        {
                                            <span class="btn btn-info">@Html.DisplayFor(modelItem => item.status)</span>
                                        }
                                        @if (item.status == kredit.Models.status.Accepted)
                                        {
                                            <span class="btn btn-success">@Html.DisplayFor(modelItem => item.status)</span>
                                        }
                                        @if (item.status == kredit.Models.status.Rejected)
                                        {
                                            <span class="btn btn-danger">@Html.DisplayFor(modelItem => item.status)</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.IdApprove }, new { @class = "btn btn-primary" })
                                        @*@Html.ActionLink("Approve", "Approve", new { id = item.IdApprove }, new { @class = "btn btn-success" })*@
                                        @*@Html.ActionLink("Reject", "Reject", new { id = item.IdApprove }, new { @class = "btn btn-danger" })*@
                                        <a href="#" class="btn btn-success" onclick="accepted('@item.IdApprove')">Approve</a>
                                        <a href="#" class="btn btn-danger" onclick="deleted('@item.IdApprove')">Reject</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script>
        window.deleted = function (apa) {
            swal({
                title: 'Yakin Di Reject?',
                text: 'Permohonan yang di Reject tidak akan tampil di halaman utama',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, Reject',
                cancelButtonText: 'Tidak , Batal Reject',
                confirmButtonClass: 'confirm-class',
                cancelButtonClass: 'cancel-class',
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    hapus(apa),
                    swal(
                        'Di Reject :(',
                        'Unit Berhasil Di Reject',
                        'success'
                        );
                } else {
                    swal(
                        'Batal :)',
                        'Unit Batal Di Reject',
                        'error'
                    );
                }
            });
        }

        function hapus(apa){
            console.log("Document Ready");
            var data = {
                'id': apa //permalink
            };
            $.ajax({
                type: "POST",
                data: data,
                url: "@Url.Action("Reject", "ApprovalPermohonans")",
                beforeSend: function () {                    
                    console.log("before Send");
                },
                success: function (response) {
                    console.log(response);
                },
                error: function (request, status, error) {
                    //to do
                },
                complete: function () {
                    console.log("Selesai");
                }
            });
        }

        window.accepted = function (apa) {
            swal({
                title: 'Yakin Di Setujui?',
                text: 'permohonan yang di Setujui akan masuk kedalam survey list',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, Setujui',
                cancelButtonText: 'Tidak , Batal Setujui',
                confirmButtonClass: 'confirm-class',
                cancelButtonClass: 'cancel-class',
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    setuju(apa),
                    swal(
                        'Di Setujui :)',
                        'Unit Berhasil Di Setujui',
                        'success'
                        );
                } else {
                    swal(
                        'Batal :(',
                        'Unit Batal Di Setujui',
                        'error'
                    );
                }
            });
        }

        function setuju(apa){
            console.log("Document Ready");
            var data = {
                'id': apa //permalink
            };
            $.ajax({
                type: "POST",
                data: data,
                url: "@Url.Action("Approve", "ApprovalPermohonans")",
                beforeSend: function () {                    
                    console.log("before Send");
                },
            success: function (response) {
                console.log(response);
            },
            error: function (request, status, error) {
                //to do
            },
            complete: function () {
                console.log("Selesai");
            }
        });
        }

        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}